 body {
     text-align: center;
     font-family: 'Merriweather', serif;
     background-color: #fbfbfb;
 }
 
 h1 {
     color: #66BFBF;
     /*text-align: center;*/
     margin: 30px;
     font-family: 'Sacramento', cursive;
     font-size: 90px;
     line-height: 2;
 }
 
 h2 {
     font-family: 'Merriweather', serif;
     font-size: 1.8rem;
     color: #1d9df3e3;
     padding-bottom: 10px;
 }
 
 h3 {
     font-family: 'Merriweather', serif;
     font-size: 22px;
 }
 
 .bottem-cloud {
     position: absolute;
 }
 
 .cloud {
     position: relative;
     padding-top: 100px;
     background-color: #fffffffb;
 }
 
 .top-cloud {
     position: absolute;
     right: 300px;
     top: 50px;
 }
 
 .logo-img {
     border-radius: 50%;
     height: 200px;
 }
 
 .logo {
     margin: 100px auto 100px auto;
     line-height: 2;
 }
 
 .skill-img {
     border-radius: 50%;
     width: 200px;
     float: left;
     margin-right: 30px;
 }
 
 .skills {
     margin: 100px auto 100px auto;
     text-align: left;
     margin-right: 10px;
     margin-bottom: 100px;
 }
 
 .hotwing {
     margin: 100px auto 100px auto;
     text-align: left;
     margin-left: 300px;
 }
 
 .chilli-img {
     border-radius: 50%;
     width: 200px;
     float: left;
     
 }
 
 .intro {
     width: 30%;
     margin: auto;
 }
 
 p {
     line-height: 2;
 }
 
 hr {
     border: dotted #24cfcf;
     border-bottom: none;
     width: 4%;
     margin: 100px auto auto;
 }
 
 .bottom-container {
     width: 405;
 }
 
